.hero {
    height: 100vh;
    top: 0px;
    background-image: url("img/7.webp");
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.2));
    background-size: cover; */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("img/7.webp");
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (max-width: 500px) {
    .hero {
        height: 500px;
    }
}
