figure {
  background-color: rebeccapurple;
  height: 100px !important;
}

/* img { */
.image-tag {
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating-container {
  display: block !important;
  width: 100%;
  align-items: start;
  text-align: start;
}
