figure {
    background-color: rebeccapurple;
    height: 50% !important;
}

img {
    /* top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; */
}

.rating-container {
    display: block !important;
    width: 100%;
    align-items: start;
    text-align: start;
}